
p {
    text-align: justify;
    font-size: 18px;
}

h1 {
    font-size: 70px;
    font-weight: 200;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    font-weight: bold;
}

header {
    position: fixed;
    background-color: white;
}

footer {
    background-color: black;
}

h3.bagua {
    text-align: right;
}

.main {
    background-color: black;
    background-image: url("resources/HomeImage.jpg"); 
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.air {
    background-color: darkgoldenrod;
}

.water {
    background-color:royalblue;
}

.earth {
    background-color: darkgreen;
}

.fire {
    background-color:crimson;
}

.air-syllabus {
    margin: 200px 10%;
    position: relative;
    width: 20%;
    float: left;
    text-align: center;   
}

.bagua {
    padding: 10px 40px;
    width: 80%
    /*margin: auto 10%;*/        
}

.water-syllabus {
    margin: 200px 10%;
    position: relative;
    width: 22%;
    float: right;
    text-align: center;   
}

.taichi {
    padding: 10px 40px;
    /*width: 80%;*/
    margin: auto 10%;
}

.earth-syllabus {
    margin: 200px 10%;
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
}

.hunggar {
    padding: 10px 40px;
    width: 80%;
    /*margin: auto 10%;*/
}

.fire-syllabus {
    margin: 200px 10%;
    position: relative;
    width: 25%;
    float: right;
    text-align: center;   
}

.longfist {
    padding: 10px 40px;
    /*width: 80%;*/
    margin: auto 10%;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}